@import '../../../../../styles/base';

.canvas {
  overflow: auto;
  height: 100%;
  display: flex;
  justify-content: center;
}

.document {
  min-height: 100%;
  background-color: $document-color;
  div {
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
  }
  p {
    background-color: antiquewhite;
  }
}

.selected {
  outline: 1px dotted rgb(167, 253, 249);
}
