@import '@/styles/base';

.progect {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  background-color: $background-secondary;
  border-bottom: 2px solid $background-color;
  box-sizing: border-box;
}

.main {
  position: absolute;
  // top: 6rem;
  left: 0;
  right: 0;
  height: calc(100vh - 12rem);
}

.elements {
  position: absolute;
  top: 6rem;
  left: 0;
  width: 4.5rem;
  height: calc(100vh - 12rem);
  background-color: $background-secondary;
  border-right: 2px solid $background-color;
  box-sizing: border-box;
}

.properties {
  position: absolute;
  top: 6rem;
  left: 4.5rem;
  width: 30rem;
  height: calc(100vh - 12rem);
  background-color: $background-secondary;
  border-right: 2px solid $background-color;
  box-sizing: border-box;
}

.workspace {
}

.advanced {
  position: absolute;
  top: 6rem;
  left: 34.5rem;
  right: 30rem;
  height: 10rem;
  background-color: $background-secondary;
  border-bottom: 2px solid $background-color;
  box-sizing: border-box;
}

.media {
  position: absolute;
  top: 16rem;
  left: 34.5rem;
  right: 30rem;
  height: 3rem;
  background-color: $background-secondary;
  border-bottom: 2px solid $background-color;
  box-sizing: border-box;
}

.document {
  position: absolute;
  top: 19rem;
  left: 34.5rem;
  right: 30rem;
  bottom: -6rem;
  box-sizing: border-box;
}

.sidebar {
  position: absolute;
  top: 6rem;
  right: 0;
  width: 30rem;
  height: calc(100vh - 12rem);
  background-color: $background-secondary;
  border-left: 2px solid $background-color;
  box-sizing: border-box;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6rem;
  background-color: $background-secondary;
  border-top: 2px solid $background-color;
  box-sizing: border-box;
}

.sss {
  position: fixed;
  z-index: 25;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  &.show {
    display: block;
  }
}
