@import '../../../../../styles/base';

.AddTagButton {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  background-color: $button-color;
  color: $icon-color;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $button-hover-color;
    color: $icon-hover-color;
  }
  svg {
    width: 3rem;
    height: 3rem;
  }
}
