@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../styles/variables';

html {
  font-size: 10px;
}

body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
