html {
  font-size: 10px;
}

body {
  background-color: #363636;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
