.login {
  width: 80rem;
  margin: 5rem auto;
}

.title {
  margin-bottom: 2rem;
  h1 {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 4rem;
    padding-right: 2rem;
    font-size: 2.8rem;
    line-height: 145%;
    border-bottom: 5px solid rgb(255, 180, 30);
    &::first-letter {
      font-size: 3.4rem;
      color: rgb(255, 180, 30);
    }
  }
}

.loginwrapper {
  display: flex;
  //   align-items: flex-start;
}

.left {
  width: 55rem;
}

.center {
  width: 1rem;
  margin: 0px 1rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgb(255, 180, 30);
}

.right {
  width: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.social {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  cursor: pointer;
  &:hover {
    background-color: rgb(255, 180, 30);
  }

  img {
    width: 100%;
  }
}

.normal {
  margin-left: 1rem;
}

.link {
  color: rgb(255, 180, 30);
  font-weight: 700;
}

.pl {
  padding-left: 1rem;
  margin: 1rem 0px;
}

.errormsg {
  margin-left: 1rem;
  color: red;
  font-size: 1.4rem;
}

.succesmsg {
  margin-left: 1rem;
  color: rgb(33, 120, 2);
  font-size: 1.4rem;
}
