@import '../../../../../../../styles/base.scss';

.classes {
  font-size: 1.4rem;
}

.body {
  padding: 1rem;
  border-bottom: 2px solid $background-color;
  transform-origin: top center;
  transition: all 0.3s;
  &.hide {
    transform: scaleY(0);
    opacity: 0;
  }
  select {
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: $document-color;
    border: none;
    outline: none;
    margin-bottom: 0.5rem;
    color: $icon-color;
  }
  .addButton {
    width: 100%;
    padding: 0.5rem;
    background-color: $button-color;
    color: $icon-color;
    border-radius: 0.5rem;
    border: none;
    outline: none;
  }
}

.newClassInput {
  position: absolute;
  z-index: 20;
  width: 92%;
  background-color: $button-hover-color;
  padding: 0.3rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  transform-origin: top center;
  transition: all 0.3s;
  &.hide {
    transform: scaleY(0);
    opacity: 0;
  }
  .addWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      width: calc(100% - 6.6rem);
      background-color: $document-color;
      border: none;
      outline: none;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      color: $icon-color;
      box-sizing: border-box;
      &::placeholder {
        color: $button-color;
      }
    }
  }
  button {
    width: 2.4rem;
    height: 2.4rem;
    background-color: $button-color;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $icon-color;
    padding: 0;
    border-radius: 0.5rem;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

.classList {
  width: 100%;
  height: 20rem;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: $document-color;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
  .clItem {
    padding: 2px 0.5rem;
    &:hover {
      background-color: $button-hover-color;
    }
  }
}

.shadow {
  position: absolute;
  top: -10000px;
  left: -10000px;
  bottom: -10000px;
  right: -10000px;
  z-index: 10;
  &.hide {
    display: none;
  }
}
