$background-color: #373737;
$background-secondary: #2f2f2f;
$document-color: #767676;
$button-color: #1e1e1e;
$button-hover-color: #444444;
$icon-color: rgb(222, 222, 222);
$icon-hover-color: rgb(243, 243, 243);

$simple-gradient: linear-gradient(
  180deg,
  rgba(41, 41, 41, 1) 0%,
  rgb(69, 69, 69) 100%
);
