.btn {
  padding: 1.5rem 3rem;
  border-radius: 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
  border: none;
  outline: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.standard {
  background-color: #edf1f4;
}

.orange {
  background-color: rgb(255, 180, 30);
  color: white;
}
